<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-icons.css" />
    <link rel="stylesheet" href="/css/docs.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>اسم المحاضرة</title>
    <style>
      .pdfViewer {
        direction: ltr;
        width: 100%;
        height: 75vh;
        margin: var(--page-margin);
        position: relative;
        overflow: visible;
        border: var(--page-border);
        -o-border-image: var(--page-border-image);
        border-image: var(--page-border-image);
        background-clip: content-box;
        background-color: rgba(255, 255, 255, 1);
      }
    </style>
  </head>
  <body>
    <%- include("../../common/views/public.navbar.view.ejs") %>

    <main class="container-lg d-flex align-items-center gap-3 flex-column">
      <div class="bg-dark px-5 py-1 rounded-pill" style="border: 2px solid var(--main)">
        <h3 id="documentNameHeaderId" class="text-light fs-5"></h3>
      </div>
      <div id="pdfContainer" class="pdfViewer"></div>
    </main>

    <script src="/js/axios.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/js/document.js"></script>
  </body>
</html>
